<tr>
  <td><%= post.title %></td>
  <td><%= post.content %></td>
  <td><%= link_to 'Show', post, remote: true %></td>
  <td>
    <div id="super-edit-<%= post.id %>">
      <%= link_to 'Edit', edit_post_path(post), remote: true %></td>
    </div>
  </td>
  <td><%= link_to 'Destroy', post, method: :delete, data: {remote: true, confirm: 'Are you sure?' }, class: "delete" %></td>
</tr>